<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>125095692098-59niqmb4q23se9im25r19rcous61iotk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.125095692098-59niqmb4q23se9im25r19rcous61iotk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>125095692098-kejn0hu44l1i5dbe64okelvt2ore84s0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD1ePXoF7Um4s5smNmHtT9fan4T7lT9xeI</string>
	<key>GCM_SENDER_ID</key>
	<string>125095692098</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.VellarikkaPattanam</string>
	<key>PROJECT_ID</key>
	<string>vellarikka-pattanam</string>
	<key>STORAGE_BUCKET</key>
	<string>vellarikka-pattanam.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:125095692098:ios:1a20e40ae51b768f046adb</string>
	<key>DATABASE_URL</key>
	<string>https://vellarikka-pattanam.firebaseio.com</string>
</dict>
</plist>